.add {
  .errors {
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-radius: 14px;

    .left,
    .ratings {
      border: solid 7px rgb(254, 193, 78);
      padding: 2em 3em;
      width: 100%;
      border-radius: 14px;
    }

    .left {
      max-width: 600px;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 2em;
      flex-grow: 1;
    }

    input,
    label,
    .preview {
      margin-bottom: 1em;
    }
    .form-label {
      text-align: left;
      width: 100%;
      font-weight: bold;
    }

    .nameAndHeart {
      position: relative;

      .favorite {
        display: inline;
        position: absolute;
        right: 0;
        top: 1.8em;
      }

      #name {
        width: 80%;
      }

      #heart:hover {
        transform: scale(1.02);
      }

      #heart {
        width: 40px;
      }
    }

    .ratings {
      padding: 2em 8em;
    }

    .rating {
      display: inline-flex;
      gap: 5px;
    }

    .ratingRow {
      margin-bottom: 1em;
      display: flex;
      gap: 3em;
      justify-content: space-between;
    }

    .ratingLabel {
      width: 90px;
      font-weight: bold;
      text-align: start;
      display: flex;
      justify-self: start;
    }

    .custom-select {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      margin: 20px 0;

      .option {
        position: relative;
        cursor: pointer;
        text-align: center;
        width: 70px;
        margin: 10px 0;
        padding: 10px 0 8px 5px;
        transition: transform 0.3s ease;
      }

      .option:hover {
        transform: scale(1.04);
      }

      .option img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-bottom: 5px;
      }

      .option.selected {
        background-color: rgba(248, 189, 49, 0.477);
        border-radius: 14px;
      }

      .option p {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }

      .selected-beer {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
    }

    .photoUpload {
      text-align: center;
    }

    .preview {
      background-image: url("/assets/wood.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 18em;
      height: 18em;
      position: relative;
      margin: auto;
      img {
        width: 12em;
        height: 12em;
        position: absolute;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        clip-path: circle(50% at center);
      }
    }
    .uploadBtn {
      cursor: pointer;
      img {
        width: 1.3rem;
        height: 1.3rem;
        filter: invert(1);
        transform: translateY(-10%);
      }

      span {
        margin-right: 10px;
        text-align: center;
      }
    }

    button {
      margin-top: 10px;
      padding: 5px 10px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  .helper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    border: 7px solid rgb(192, 113, 84);
    border-radius: 14px;

    .helperimg {
      height: 3.5dvw;
      max-width: 50px;
      max-height: 60px;
    }

    .type:nth-child(odd):last-child {
      grid-column: span 2;
      justify-self: center;
    }

    .type:hover{
      background-color: rgb(250, 229, 176);
    }

    .type {
      width: min-content;
      display: flex;
      align-items: center;
      padding: 1em;
      border-radius: 14px;

      h6 {
        width: 90%;
        text-align: center;
        margin-top: 0.4em;
      }
    }

    .desc {
      font-size: 14px;
      width: 200px;
    }
  }
}
