@use "bootstrap/scss/bootstrap";

body {
  background-color: rgb(214, 132, 69);
  text-align: center;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.menu {
  flex-direction: column;
  justify-self: start;
  display: flex;
  margin-left: 2em;
  padding-right: 2dvw;
  width: 19dvw;
  gap: 1em;
}

.content {
  height: 90dvh;
  width: 80dvw;
  padding: 2em;
  position: relative;
  margin-right: 2em;
  background-color: rgb(255, 238, 195);
  overflow: auto;
}

footer {
  position: absolute;
  width: 100dvw;
  bottom: 1em;
}
